table {
  border: 1px dotted;
  text-align: left;
}.fst {
  text-align: left;
  height: 30px;
  width: 297px;
}
.btn button {
  margin: 2px;
  height: 40px;
  width:95px ;
}
.btn-eq {
  width: 292px !important; 
}
.btn-c {
  width: 195px !important;
}
.btn{
  margin-top: 15px;
}
.main{
  margin: 50px 0px 0px 150px;
}
